@page "/ConfigPhone"
@model IdentityProvider.Pages.ConfigPhone
@{
    ViewData["Title"] = "Configurar numero de telefono";
}

<div class="vh-100 row justify-content-center align-items-center">
    <div class="col col-md-4 justify-content-center">
        <span class="fs-2 my-3">Configurar telefono</span>
        @{
        if (!string.IsNullOrEmpty(Model.Error))
        {
        <div class="alert alert-danger" role="alert">
        @Model.Error
        </div>
        }
        }
        <div class="row my-2">
            <div>
                <form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3">
						<input asp-for="PhoneModel.PhoneNumber" class="form-control" autocomplete="username"
	                        aria-required="true" type="tel" />
						<label asp-for="PhoneModel.PhoneNumber" class="form-label"></label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>