@page "/ExternalLogin"
@model IdentityProvider.Pages.ExternalLogin
@{
    ViewData["Title"] = "External Login";
}

<div class="h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-md-6 col-lg-5">
            @{
                if (!string.IsNullOrEmpty(Model.Error))
                {
                    <div class="row w-100 justify-content-center">
                        <div class="alert alert-danger" role="alert">
                            @Model.Error
                        </div>
                    </div>
                }
            }
            @{
                if (Model.AllowBack)
                {
                    <form 
                    class="row my-3 justify-content-start" 
                    method="post" 
                    asp-page-handler="ToSignIn"
                    asp-route-url="@Model.ReturnUrl">
                            <button 
                            class="w-50 btn btn-outline-secondary rounded-pill text-center" 
                            type="submit">
                            Iniciar Sesion
                        </button>
                    </form>
                }
            }
        </div>
    </div>
</div>