@page "/ForgotPasswordConfirmation"
@using IdentityProvider.Pages;
@model ForgotPasswordConfirmationModel
@{
	ViewData["Title"] = "Confirmacion de recuperacion";
}
<div class="h-100 row justify-content-center align-items-center">
	<div class="col col-6">
		<div class="row w-100 justify-content-center">
			<h1>@ViewData["Title"]</h1>
			<p>
				Por favor revisa tu email para recuperar tu contraseña.
			</p>
		</div>
		<form class="row my-3 justify-content-center" method="post" asp-page-handler="ToSignUp" asp-route-url="@Model.ReturnUrl">
			<div class="col w-100">
				<button class="w-100 btn btn-outline-secondary" type="submit">Iniciar Sesion</button>
			</div>
		</form>
	</div>
</div>