@page "/ForgotPasswordConfirmation"
@using IdentityProvider.Pages;
@model ForgotPasswordConfirmationModel
@{
	ViewData["Title"] = "Confirmacion de recuperacion";
}
<div class="h-100 row justify-content-center align-items-center">
	<div class="col col-6">
		<div class="row w-100 justify-content-center">
			<div class="alert alert-warning" role="alert">
				Por favor revisa tu correo para recuperar tu cuenta.
			</div>
		</div>
		<form class="row my-3 justify-content-center" method="post" asp-page-handler="ToSignUp"
			asp-route-url="@Model.ReturnUrl">
			<div class="col w-100">
				<button class="btn btn-outline-secondary custom-btn fw-normal rounded-pill" type="submit">Iniciar Sesión</button>
			</div>
		</form>
	</div>
</div>