@page "/QuickStartProfile"
@model IdentityProvider.Pages.QuickStartProfile
@{
    ViewData["Title"] = "Configurar Perfil";
}

<div class="vh-100 row justify-content-center align-items-center">
    <div class="col col-md-4 justify-content-center">
        @{
            if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="alert alert-danger" role="alert">
                    @Model.Error
                </div>
            }
        }
        <div class="row my-2">
            <form method="post" class="my-3">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Profile.UserName" class="form-control" autocomplete="nickname" aria-required="true"
                        type="text" />
                    <label asp-for="Profile.UserName" class="form-label"></label>
                    <span asp-validation-for="Profile.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Profile.PhoneNumber" class="form-control" autocomplete="tel" aria-required="true"
                        type="tel" />
                    <label asp-for="Profile.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Profile.PhoneNumber" class="text-danger"></span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-block">Continuar</button>
                </div>
            </form>

        </div>
    </div>
</div>