@page "/TwoFactor"
@model IdentityProvider.Pages.TwoFactor
@{
    ViewData["Title"] = "Confirmar número de telefono";
}

<div class="vh-100 row justify-content-center align-items-center">
    <div class="col col-md-4 justify-content-center">
        <span class="fs'3 my-2">Ingresar codigo</span>
        @{
        if (!string.IsNullOrEmpty(Model.Error))
        {
        <div class="alert alert-danger" role="alert">
        @Model.Error
        </div>
        }
        }
        <div class="row my-2">
            <form method="post" class="my-3">
                <div class="form-floating">
                    <input asp-for="Code" class="form-control" autocomplete="on" aria-required="true" type="text" />
                    <label asp-for="Code" class="form-label"></label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-block">Continuar</button>
                </div>
            </form>

        </div>
    </div>
</div>